<div class="navBar footer-back">
    <div class="fullLength">
        <div class="leftPart">
            <span > dinnerdash | todos os direitos reservados</span>
        </div>
        <div class="rightPart" style="color: #5C5C5C; font-size: 0.8em">
            <span>desenvolvido pelo Grupo 7</span>
        </div>
    </div>
</div>