<div class="containerColumn">
    <div class="rowBodyHeader checkout-img">
        <div class="rowOptions">
            <div class="leftPart">
                <%= link_to root_path,class: 'noChangeLink' do%>
                    <span class="dinnerdashLogo">dinnerdash</span>
                <% end %>
            </div>
            <div class="rightPart" >
                <!--%= link_to ( ),class: 'noChangeLinkBackoffice' do%-->
                    <!--span class="textSpacement">backoffice</span-->
                <!--% end %-->
                <%= link_to ( ),class: 'noChangeLink' do%>
                    <span class="textSpacement">perfil</span>
                <% end %>
                <%= link_to ( ),class: 'noChangeLink' do%>
                    <span class="textSpacement">sair</span>
                <% end %>
            </div>
        </div>
        <div class="titleBackOffice">
            <span class="bigTitle1">
                Bem-vindo, 
            </span>
            <br>
            <span class="subTitle">
                Neste espaço você pode finalizar o seu pedido.
            </span>
        </div>
    </div>
</div>
<div class="alert alert-success" role="alert">
  A simple success alert—check it out!
</div>