<h1>dinnerdash - WIP</h1>
<h2>Links temporários</h2>
<h4>
    <%= link_to "Cadastro", new_user_registration_path =%>
</h4>
<h4>
    <%= link_to "Alterar dados", edit_user_registration_path =%>
</h4>


<p>Find me in app/views/home/index.html.erb</p>
