<html>
    <head>
    </head>
    </body>
        <div class="div">
            <div class="div-coluna">
                <h3>Editar categoria de refeição</h3>
                <hr>
                <%= form_with model: @meal_category do |form|%>
                    <p class="input-label">Nome</p>
                    <%= form.text_field :name, placeholder: "Nome do tipo de refeição", class:'campo-text'%>
                    
        
                    <div class="cancel-envia">
                        <%= form.submit 'atualizar categoria de refeição', class:'button-enviar'%>
                        <%= link_to 'voltar', meal_categories_path, class:'button-cancelar'%>
                    </div>
                <% end %>
            </div>
        </div>
    </body>
</html>