<div class="card menuItemImg">
    <% if meal.image.attached? %>
        <%= image_tag meal.image, class: "card-img redmImg" %>
    <% else %>   
        <%= image_tag  "maca.jpg", class: "card-img redmImg" %>
    <% end %>

    <% if meal.available == true  %>
    <div class="card-img-overlay d-flex align-items-center noPadding">
        <div class="notAvailable">Refeição indisponível</div>
    </div>
    <% end %>

    <div class="card-img-overlay d-flex align-items-end noPadding">
    <div class="menuItemTitle"><%= meal.name %></div>
    </div>
</div>